DISCORD_BOT_TOKEN= # Token Here
DISCORD_BOT_TAG= # Discord Bot Tag Here
TEST_CHANNEL_ID= # Test Channel ID Here
INSPIRATION_CHANNEL_ID= # Inspiration Channel ID Here
QOTD_CHANNEL_ID= # QOTD Channel ID Here
ADMIN_ID= # Admin ID Here
AI_API_KEY= # AI API Key Here